[Desktop Entry]
Version=1.0
Name=Google Slide
Comment=ウェブアプリ
Exec=chromium --app=https://slides.google.com --class=WebApp-GoogleSlide5052
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=google-slides
Categories=GTK;Office;
MimeType=text/html;text/xml;application/xhtml_xml;
StartupWMClass=WebApp-GoogleSlide5052
StartupNotify=true
X-WebApp-URL=https://slides.google.com
X-WebApp-Isolated=false

