[Desktop Entry]
Version=1.0
Name=Amazon
Comment=ウェブアプリ
Exec=chromium --app=https://amazon.com --class=WebApp-Amazon9365
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=amazon
Categories=GTK;Network;
MimeType=text/html;text/xml;application/xhtml_xml;
StartupWMClass=WebApp-Amazon9365
StartupNotify=true
X-WebApp-URL=https://amazon.com
X-WebApp-Isolated=false
