[Desktop Entry]
Version=1.0
Name=Zoho Writer
Comment=ウェブアプリ
Exec=chromium --app=https://writer.zoho.com --class=WebApp-ZohoWriter0761
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=/home/centra/.local/share/ice/icons/writer-logo.png
Categories=GTK;Office;
MimeType=text/html;text/xml;application/xhtml_xml;
StartupWMClass=WebApp-ZohoWriter0761
StartupNotify=true
X-WebApp-URL=https://writer.zoho.com
X-WebApp-Isolated=false

